@keyframes menu {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {     
        transform: translateY(0);
        opacity: 1;
    }
}



@media (max-width: 900px){
        
    body {
        background-color: rgb(71, 71, 71);
        overflow-y: hidden;
    }

    .background {
        width: 100%;
        height: 100%;
    }

    
    #menu {
        display: block;
    }

    .personagem {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .nav {
        display: flex;
        justify-content: start;
    }

    .link {
        font-size: 24px;
    }

    .lista {
        display: none;
    }


    #links.ativar .lista{
        display: flex;
        width: 15%;
        flex-direction: column;
        position: absolute;
        left: 0.5%;
        top: -4%;
        background: rgba(0, 0, 0, 0.26);
        animation: menu 0.5s;
        z-index: 1000;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .descricao {
        margin: 0;
    }


}

@media (max-width: 840px){
    #links.ativar .lista {
        position: absolute;
        top: -2%;

    }
}

@media (max-width: 750px){
    #links.ativar .lista {
        position: absolute;
        top: -1%;

    }
}

@media (max-width: 650px){
    #links.ativar .lista {
        position: absolute;
        top: 0%;

    }
}

@media (max-width: 600px){
    #links.ativar .lista {
        position: absolute;
        top: 1%;

    }
}

@media (max-width: 550px){
    #links.ativar .lista {
        position: absolute;
        top: 2%;

    }
}

@media (max-width: 500px){
    #links.ativar .lista {
        position: absolute;
        top: 3%;

    }
}

@media (max-width: 400px){
    #links.ativar .lista {
        position: absolute;
        top: 4%;

    }
}

@media (max-width: 350px){
    #links.ativar .lista {
        position: absolute;
        top: 5%;

    }
}

@media (max-width: 300px){
    #links.ativar .lista {
        position: absolute;
        top: 6%;

    }
}

@media (max-width: 250px){
    #links.ativar .lista {
        position: absolute;
        top: 7%;

    }
}

@media (max-width: 200px){
    #links.ativar .lista {
        position: absolute;
        top: 8%;

    }
}

@media (max-width: 150px){
    #links.ativar .lista {
        position: absolute;
        top: 9%;

    }
}

@media (max-width: 100px){
    #links.ativar .lista {
        position: absolute;
        top: 10%;

    }
}








    